@using FilmApi.Data
@using Newtonsoft.Json.Linq;
@page "/InfoPage/{page:int}/{id:int}"
@inject NavigationManager NavigationManager
<body>
<div class="flex">
    <img class="poster" src=@Full.big_poster>
    <div class="info">
        <h1>@Full.name_russian</h1>
        <div class="desc">@Full.description</div>
        <div class="aboutFilm">
            <p>Год выпуска: @Full.year г.</p>
            <p>Рейтинг КП: @Full.rating_kp.ToString()</p>
            <p>Рейтинг IMDB: @Full.rating_imdb.ToString()</p>
            <p>Продлжительность: @Full.time</p>
            <p>Присмьера в Росии: @Full.premiere_ru</p>
            <p>Бюджет: @Full.budget</p>
            <p>Возрастное ограничение: @Full.age_restriction</p>
            <p>Страна: @Full.country_ru</p>
        </div>
    </div>
</div>
 <div class="linkDiv">
        <a href="/" class="filmLink ">На главную</a>
    </div>
</body>

@code {
    [Parameter]
    public int page { get; set; } = 1;

    [Parameter]
    public int id { get; set; } = 0;

    FullInfo FullInfo = new FullInfo();
    FullInfo.FilmItem Full = new FullInfo.FilmItem();
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        FullInfo.Film(Full, page, id);
    }
    
    

}